//font-size
$font-xl: 20px;
$font-l: 18px;
$font-m: 16px;
$font-s: 14px;

//color
$black: #000;
$brown: #3D1101;
$white: #FFFFFF;
$beige: #EfE9E7;
$orange:#FF5E45;
$light-orange: #F56C23;
$dark-red:#DB4437;
$blue: #3A5795;
$light-blue: #41ABE1;
$gray:#CCCCCC;
$green:#00CC99;

//shadow
$box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);

//font-family
$ns-medium: NotoSansCJKtc-Medium;
$ns-black:  NotoSansCJKtc-Black;
$ns-bold:   NotoSansCJKtc-Bold;
$mc-JhengHei:  MicrosoftJhengHeiRegular;
$PingFang:  PingFangTC-Regular;